
.categoria-container {
  margin: 20px;
  font-family: 'Arial', sans-serif;
}


.categoria-container h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #34495e;
  margin-bottom: 20px;
  text-align: center;
}


.form-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.form-container input {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #bdc3c7;
  border-radius: 0px; 
  width: 250px;
}

.form-container button {
  padding: 8px 15px;
  font-size: 1rem;
  background-color:black;
  color: white;
  border: none;
  border-radius: 0px; 
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background-color:black;
}


.categorias-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}


.categoria-card {
  background-color: #ffffff;
  padding: 15px; 
  border: 1px solid #ecf0f1;
  border-radius: 0px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 150px; 
}


.categoria-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}


.categoria-card span {
  display: block;
  font-size: 1.2rem; 
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 10px; 
  
}

.categoria-card button {
  background-color: #ecf0f1;
  border-radius: 0px; 
  padding: 6px; 
  border: none;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.categoria-card button:hover {
  background-color: #bdc3c7;
}

.mat-icon {
  color: #3498db;
}


.edit-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.edit-form input {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #bdc3c7;
  border-radius: 0px; 
  width: 250px;
}

.edit-form button {
  padding: 8px 15px;
  font-size: 1rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0px; 
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-form button:hover {
  background-color: black;
}
