.container {
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #444;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color:white;
    color:black;
    font-weight: 600;
  }
  
  td {
    background-color: #f9f9f9;
  }
  
  button {
    margin-right: 10px;
    padding: 6px 12px;
    background-color: #C82333;
    // color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
  }

  .color-button-eliminar {
    color:#fff;
  }
  
  button:hover {
    background-color: #C82333;
  }
  
  button:active {
    transform: scale(0.98);
  }
  
  .mat-icon {
    margin-right: 8px;
    color: #1a1a1a;
  }
  
  .usuario-icon {
    vertical-align: middle;
    font-size: 20px;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  