.cliente-container {
    display: flex;
    height: 100vh;
    background-color: #F0F2F5;
  }
  
  .menu-toggle-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1100;
  background-color: #005491;
  border-radius: 4px; 
  padding: 1px;        
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
  
  .menu-toggle-btn mat-icon {
    font-size: 30px;
    color: #FFFFFF;
  }
  
  .cliente-sidenav {
    width: 250px;
    background: linear-gradient(to bottom, #005491);
    color: #FFFFFF;
    padding: 20px;
  }
  
  .cliente-sidenav mat-nav-list {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .cliente-sidenav mat-list-item {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    transition: background-color 0.3s;
  }
  
  .cliente-sidenav mat-list-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    border-radius: 5px;
  }
  
  .cliente-sidenav mat-icon {
    margin-right: 12px;
    font-size: 24px;
    color: #FFFFFF;
  }
  
  .cliente-content {
    flex: 1;
    background-color: #FFFFFF;
    padding: 30px;
    overflow-y: auto;
  }
  
  span {
    font-size: 16px;
    color: #FFFFFF;
  }
  
  .active-link {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
  }
  
  mat-list-item {
    display: flex;
    align-items: center;
    padding: 12px 20px;
  }
  
  mat-icon {
    margin-right: 12px;
    font-size: 24px;
    color: white;
    transition: transform 0.3s ease;
  }
  
  mat-list-item:hover mat-icon {
    transform: scale(1.1);
  }
  