
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  // background-color: #333333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  // max-width: 500px; 
  // width: 700px;
  height: 500px;
  // width: 100%; 
  margin: 0 auto;
  // overflow-y: auto; 
  max-height: 80vh;
  // overflow: cover; 
  margin: 25px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 12px; 
}

mat-form-field mat-label {
  font-weight: 600;
  color: #000000;
}

mat-error {
  font-size: 12px;
  color: #f44336; 
}

input[type="file"] {
  padding: 10px;
  margin-bottom: 16px;
  border: 2px solid #000000;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #000000;
  cursor: pointer;
  width: 90%; 
}

input[type="file"]:hover {
  background-color: #e0e0e0;
}

input[type="file"]::file-selector-button {
  background-color: #000000;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}



input[type="file"]::file-selector-button:hover {
  background-color: #333333;
}

.image-preview {
  max-width: 100%;
  height: auto;
  margin-top: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  margin-bottom: 16px; 
}

button[mat-button] {
  color: #000000;
  font-weight: 600;
  border: 1px solid #000000;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: transparent;
}

button[mat-button]:hover {
  background-color: #f5f5f5;
  color: #000000;
}

button[mat-raised-button] {
  background-color: #000000;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-top: 12px; 
}

button[mat-raised-button]:hover {
  background-color: #333333;
}

mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 12px;
}


h2[mat-dialog-title] {
  text-align: center;
  font-weight: 600;
  font-size: 22px; 
  color: #000000;
  margin-bottom: 16px; 
}


mat-dialog-content {
  max-height: 400px; 
  overflow-y: auto; 
}


// .btn-eli-act-lis-prod {
//   border: 1px solid red;
// }

.btn-act {
  margin-left: 5px;
  font-weight: 600;
  background-color: #000;
  padding: 10px 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  border: 1px solid #000;
}

.btn-act:hover {
  background-color: #333;
}
