.register-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: 
    linear-gradient(to right, rgba(26, 26, 26, 0.8), rgba(34, 34, 34, 0.8)), 
    url("/icons/compraa.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.register-card {
  width: 370px;
  padding: 20px;
  background-color: #ffffff; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  font-size: 14px;
  color: #000000; 
}

mat-card-title {
  font-size: 1.4rem;
  color: #000000; 
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}

.center-text {
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
  color: #000000;
}

button[mat-flat-button] {
  background-color: #203a43; 
  color: white;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 30px;
  transition: background-color 0.3s ease, transform 0.2s;
}

button[mat-flat-button]:hover {
  background-color: #2c5364; 
  transform: translateY(-2px);
}

mat-form-field {
  font-size: 14px;
  width: 100%;
  color: #000000;
}


input.mat-input-element {
  color: #000000;
}

.mat-form-field-label {
  color: rgba(0, 0, 0, 0.6);
}
