.carrito-producto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-height: 80vh; 
  overflow-y: auto;
  position: relative;
  
    h2 {
      margin-bottom: 20px;
      text-align: center;
    }
  
    .product-image {
      width: 100%;
      max-height: 250px;
      object-fit: contain;
      margin-bottom: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  
    .cantidad-container {
      margin: 20px 0;
      display: flex;
      align-items: center;
      gap: 10px;
  
      input {
        width: 80px;
        padding: 5px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
  
    .acciones-container {
      display: flex;
      gap: 15px;
      margin-top: 10px;
  
      button {
        min-width: 120px;
      }
    }
  }
  